.App-header {
  background-color: #395870;
  color: white;
  font-family: "Patua One";
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dbdcdc;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
}

h3 {
  color: #333;
}

.resultstext {
  margin-top: 50px;
  text-align: center;
}

.welcome {
  margin-top: 70px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #395870;
}

.plain button {
  text-decoration: none;
  color: #395870;
  background-color: #fafafa;
  height: 45px;
}

.css-1rtrksz {
  min-width: 200px;
}

.css-1wy0on6 {
  cursor: pointer;
}

.css-1aya2g8:focus {
  outline-width: 0;
}

.css-1rtrksz:focus {
  outline-width: 0;
}

.center {
  text-align: center;
  min-width: 200px;
}

.searchlabel {
  margin-bottom: 0px;
  margin-top: 8px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
}

input:focus {
  outline-width: 0;
}

button:focus {
  outline-width: 0;
}

.mapcontainer{
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mapcontainer > div {
  width: 1212px !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  padding: 0px;
}

.disclaimer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 12px;

}

.content {
  background-color: azure;
  display: flex;
  flex-direction: column;
  min-height: 1070px;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.content2 {
  background-color: azure;
  display: flex;
  flex-direction: column;
  min-height: 1070px;
  height: 100%;

  font-family: "Raleway", sans-serif;
}

.background {
  min-height: 938px;
  background-image: url("/images/waves3.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  padding-top: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.h4 {
font-family: "Raleway", sans-serif;
}

.results {
  padding-top: 30px;
  font-size: 20px;
}

input {
  border-radius: 8px;
  padding: 6px;
  height: 31px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

label {
  font-weight: 10;
}

.pointer {
  cursor: pointer;
}

button {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  height: 38x;
  margin-left: 10px;
}

.content {
  margin-top: 0px;
  font-family: "Raleway", sans-serif;
}

.glyphicon-home {
  font-size: 40px;
  display: flex;
  margin-top: 25px;
  color: white;
}

.glyphicon-tint {
  margin-top: 10px;
}

.tidetracker {
  display: flex;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.results {
  font-family: "Montserrat", sans-serif;
}

.menu {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 27px;
}

.menu2 {
  margin-right: 20px;
  margin-top: 27px;
  visibility: hidden;
}

.App-title {
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Montserrat", sans-serif;
  width: 400px;
  height: 300px;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th {
  text-align: center;
}
th:first-child {
  border-top-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}



  .gm-style .gm-style-iw {
            text-align: center;
         }    

     
         /*style the p tag*/
         .gm-style .gm-style-iw #google-popup p{
            padding: 10px;
         }
         
/*      
        /*style the arrow*/
        /* .gm-style div div div div div div div div {
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: #fff;
            font-size: 16px; */
        /* } */
        
        /*style the link*/
        .gm-style div div div div div div div div a {
            color: #395870;
            font-weight: bold;
        }

        .blue {
         color: #395870;
         font-size: 15px;
        }

        .stationlink {
          font-size: 14px;
        }

        h1 {
          color: #395870;
          text-align: center;
          margin-bottom: 15px;
        }