.App-header {
  background-color: cadetblue;
  color: white;
  text-align: center;
  font-family: 'Patua One';
}

.welcome {
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.plain button{
  text-decoration: none;
  color: black;
  height: 45px;
}

.css-1rtrksz {
  min-width: 300px;
}

.css-1wy0on6 {
  cursor: pointer;
}

.css-1aya2g8:focus {
  outline-width: 0;
}

.css-1rtrksz:focus {
  outline-width: 0;
}

.center {
  text-align: center;
}

.searchlabel {
  margin-bottom: 0px;
  margin-top: 8px;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
}

input:focus {
  outline-width: 0;
}

button:focus {
  outline-width: 0;
}

.mapcontainer {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.disclaimer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.content {
  background-color: azure;
  display: flex;
  flex-direction: column;
  min-height: 1070px;
  font-family: 'Raleway', sans-serif;
}

.background {
  min-height: 938px;
  background-image: url('/images/waves.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  padding-top: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.results {
  padding-top: 30px;
  font-size: 20px;
}


input {
  border-radius: 8px;
  padding: 6px;
  height: 31px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

label {
  font-weight: 10;
}

.pointer {
  cursor: pointer;
}

button {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  height: 38x;
  margin-left: 10px;
}

.content {
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}

.glyphicon-home {
  float: left;
  font-size: 40px;
  align-content: center;
  margin-top: 25px;
  color: white;
}

.menu {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 27px;
}

.App-title {
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

.title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 60px;
}