.App-header {
  background-color: #395870;
  color: white;
  font-family: "Patua One";
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dbdcdc;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a[disabled] {
  pointer-events: none;
}

h2 {
  color: #333;
}

.resultstext {
  margin-top: 50px;
  text-align: center;
}

.welcome1 {
  margin-top: 70px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #395870;
  text-align: center;
}

.welcome2 {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #395870;
  text-align: center;
}

.plain button {
  text-decoration: none;
  color: #395870;
  background-color: #fafafa;
  height: 45px;
}

.css-1rtrksz {
  min-width: 200px;
}

.css-1wy0on6 {
  cursor: pointer;
}

.css-1aya2g8:focus {
  outline-width: 0;
}

.css-1rtrksz:focus {
  outline-width: 0;
}

.center {
  text-align: center;
  min-width: 200px;
}

.searchlabel {
  margin-bottom: 0px;
  margin-top: 8px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
}

input:focus {
  outline-width: 0;
}

button:focus {
  outline-width: 0;
}

.mapcontainer{
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mapcontainer > div {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  padding: 0px;
  width: 100%;
}

.disclaimer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.content {
  background-color: azure;
  display: flex;
  flex-direction: column;
  min-height: 1070px;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.content2 {
  background-color: azure;
  display: flex;
  flex-direction: column;
  min-height: 1070px;
  height: 100%;

  font-family: "Raleway", sans-serif;
}

.background {
  min-height: 938px;
  background-image: url("/images/waves3.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  padding-top: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.h4 {
font-family: "Raleway", sans-serif;
}

.results {
  padding-top: 30px;
  font-size: 20px;
}

input {
  border-radius: 8px;
  padding: 6px;
  height: 31px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

label {
  font-weight: 10;
}

.pointer {
  cursor: pointer;
}

button {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  height: 38x;
  margin-left: 10px;
}

button:hover {
  background-color: #395870;
  color: #fafafa;
}

.content {
  margin-top: 0px;
  font-family: "Raleway", sans-serif;
}

.glyphicon-circle-arrow-left {
  font-size: 40px;
  display: flex;
  margin-top: 25px;
  color: white;
}

.glyphicon-tint {
  margin-top: 10px;
}

.tidetracker {
  display: flex;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.results {
  font-family: "Montserrat", sans-serif;
}

.menu {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 33px;
}

.menu2 {
  margin-right: 20px;
  margin-top: 27px;
  visibility: hidden;
}

.App-title {
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Montserrat", sans-serif;
  width: 500px;
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th {
  text-align: center;
}
th:first-child {
  border-top-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
  font-size: 20px;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}



  .gm-style .gm-style-iw {
            text-align: center;
         }    

     
         /*style the p tag*/
         .gm-style .gm-style-iw #google-popup p{
            padding: 10px;
         }
         
/*      
        /*style the arrow*/
        /* .gm-style div div div div div div div div {
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: #fff;
            font-size: 16px; */
        /* } */
        
        /*style the link*/
        .gm-style div div div div div div div div a {
            color: #395870;
            font-weight: bold;
        }

        .blue {
         color: #395870;
         font-size: 15px;
        }

        .stationlink {
          font-size: 14px;
        }

        h1 {
          color: #395870;
          text-align: center;
          margin-bottom: 15px;
        }

        /* MOBILE RESPONSIVENESS */
@media screen and (max-width: 505px) {
  .searchlabel {
    font-size: 14px;
    margin-top: 10px;
  } 
}

@media screen and (max-width: 495px) {
  .tidetracker img {
    width: 200px;
    height: 33px;
  } 

  .css-1rtrksz {
    min-width: 125px;
    height: 30px;
  }

  .search button {
    height: 37px;
  }  

  .searchlabel {
   font-size: 12px;
  }

  .disclaimer {
    font-size: 10px;
  }

  .welcome2 {
    font-size: 12px;
  }

  .welcome1 {
    font-size: 16px;
  }

  .menu {
    font-size: 20px;
    margin-top: 42px;
  }
  
}

@media screen and (max-width: 480px) {

  .css-1rtrksz {
    min-width: 150px;
    height: 30px;
  }

  .search button {
    height: 37px;
  }  

  .searchlabel {
   font-size: 12px;
  }

  .disclaimer {
    font-size: 12px;
  }

  .welcome2 {
    font-size: 14px;
  }

  .welcome1 {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 386px) {
  .searchlabel {
    font-size: 11px;
  } 
}

@media screen and (max-width: 377px) {
  .searchlabel {
    display: none;
  } 
}

@media screen and (max-width: 364px) {
  .welcome2 {
    font-size: 10px;
  } 

  .welcome1 {
    font-size: 12px;
  }

  .disclaimer {
    font-size: 9px;
  }
}

@media screen and (max-width: 341px) {
  .tidetracker img {
    width: 170px;
    height: 28px;
  } 

  .menu {
    font-size: 18px;
    margin-top: 43px;
  }
}

@media screen and (max-width: 311px) {
  .tidetracker img {
    width: 140px;
    height: 23px;
  } 

  .menu {
    font-size: 16px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 281px) {
  .tidetracker img {
    width: 100px;
    height: 17px;
  } 

  .menu {
    font-size: 10px;
    margin-top: 47px;
  }
}

@media screen and (max-width: 258px) {
.css-1rtrksz {
  min-width: 100px;
  height: 30px;
}
}

@media screen and (max-width: 241px) {
  .tidetracker img {
    width: 75px;
    height: 13px;
  } 

  .menu {
    font-size: 8px;
    margin-top: 48px;
  }

}

@media screen and (max-width: 225px) {
  .tidetracker img {
    width: 60px;
    height: 10px;
  } 
}

@media screen and (max-width: 207px) {
  .search {
    flex-direction: column;
    text-align: right;
  } 
}

@media screen and (max-width: 205px) {
  .tidetracker img {
    display: none;
  } 

  .menu {
    font-size: 20px;
    margin-top: 25px;
  }
}

/* RESULTS PAGE  */

@media screen and (max-width: 717px) {

  table {
    width: 95%;
    height: 95%;
  }

  
  h2 {
    font-size: 24px;
  }

  td {
    font-size: 16px;
  }

  .results {
    display: flex;
    justify-content: center;
  }
  
}

@media screen and (max-width: 586px) {

  h2 {
    font-size: 20px;
  }
 
   td {
     font-size: 14px;
   }
 
   .results {
     display: flex;
     justify-content: center;
   }

   table {
     width: 80%;
     height: 80%;
   }
   
 }

 @media screen and (max-width: 548px) {
 
   td {
     font-size: 12px;
   }
 
   .results {
     display: flex;
     justify-content: center;
   }
   
 }
 
 @media screen and (max-width: 508px) {
 
  td {
    font-size: 10px;
  }

  .results {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 471px) {
 
  td {
    font-size: 9px;
  }

  .results {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 452px) {
 
  td {
    font-size: 8px;
  }

  .results {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 12px;
  }
  
}